<head>
        <title>intro.html</title>
    </head>
    
    <frameset rows="25%,*,5%">
      <frame src="c.html">
      <frame src="intro_f.html">
      <frame src="r.html">
    </frameset>
    
    </html>